# Bibliothèques principales
networkx        # Pour la manipulation des graphes
matplotlib     # Pour les visualisations
numpy       # Pour les calculs matriciels

# Interface graphique
tkinter     # inclus avec Python

# Tests
pytest       # Framework de tests